{% extends 'blog/base.html' %}
{% block content %}
  <div class="content-section">
    <form action="" method="POST" class="register__form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Delete Post
        </legend>
        <p>{{ object.title }}</p>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-danger mt-2" type="submit" value="Confirm">Delete Post</button>
        <a class="btn btn-secondary mt-2" href="{% url 'post-detail' object.id %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}