{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <form action="" method="POST" class="register__form">
      {% csrf_token %}
     
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Register On Django Blog
        </legend>
        {{form|crispy}}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-primary mt-2" type="submit">Register</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already Have Account? <a class="ml2" href="{% url 'login'%}">Login</a> 
      </small>
    </div>
  </div>
{% endblock content %}